@import url('https://fonts.googleapis.com/css2?family=Benne&family=Poppins:wght@100;300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 10px;
}
header{
    width: 100%;
    height: 100vh;
    position: relative;
}

header img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 0;
}
nav{
    padding: 0 6em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    max-width: 100rem;
    width: 100%;
    height: 7vh;
    margin: 0 auto;
}
nav a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.6rem;
    color: white;
    font-weight: 300;
}
nav #logo{
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: 1.2rem;
}

.head-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 60rem;
    color: white;
}

.head-content h1{
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.4rem;
}
.head-content p{
    font-size: 1.4rem;
    margin-top: 1rem;
}

section{
    max-width: 90rem;
    width: 100%;
    padding: 2em 6em;
    margin: 8rem auto;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-box{
    width: 40%;
}
.img-box img{
    width: 30rem;
    height: 40rem;
}
.img-content{
    width: 40%;
    text-align: center;
}
.img-content h1{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: capitalize;
}
.img-content p{
    font-size: 1.2rem;
}


.grid{
    display: grid;
    grid-template-columns: repeat(4,20rem);
    grid-template-rows: repeat(2, 20rem);
    grid-gap: 1rem;
    justify-content: center;
}

.grid .img-3{
    grid-column: 3/-1;
    grid-row: 1/1;
}
.grid .img-4{
    grid-column: 1/3;
    grid-row: 2/2;
}

.grid img{
    width: 100%;
    height: 100%;
}









































































































































